# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.venv/
*.env

# PyCharm
.idea/
*.iml

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Misc
*.bak
*.swp
*.swo
*.tmp
