# IDE and Editor-specific
.idea/
.vscode/

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.db

# Environment files
.env
*.env
*.venv
.venv/
env/
venv/

# Docker
*.dockerignore
Dockerfile
docker-compose.yml

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# PyCharm-specific
*.iml
.idea/

# Ignore everything
*

# Except for .gitignore itself
!.gitignore